:root {
	--loaderW: 13px;
}
@font-face {
	font-family: "quikhand";
	src: url("../../../../themes/default/assets/fonts/quikhand/Quikhand.ttf") format("truetype");
}
*,
::before,
::after {
	margin: 0;
	padding: 0;
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
	box-sizing: border-box;
}
body {
	margin: 0;
	width: 100vw;
	height: 100vh;
	max-width: 100%;
	max-height: 100%;
	background-color: rgb(104, 7, 7);
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-image: url(../../../../themes/default/assets/img/thisisnottobeseen.png);
	#amyourphaser {
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		height: 100%;
		min-width: 100%;
		min-height: 100%;
		canvas {
			width: 100%;
			height: 100%;
			background-image: url(../../../../themes/default/assets/img/thisisnottobeseen.png);
		}
		#canvascenter {
			position: absolute;
			width: 96px;
			height: 96px;
			top: calc(50% + (32px / 2));
			left: calc(50% + (32px / 2));
			transform: translate(-50%, -50%);
			z-index: 999999999;
			background-color: rgba(255, 255, 255, 0.3);
			&:before {
				color: white;
				content: "96x96px";
			}
		}
	}
	#center {
		position: absolute;
		width: 32px;
		height: 32px;
		top: 50%;
		left: 50%;
		transform: translate(0, 0);
		// border-radius: 0.5rem;
		z-index: 999999999;
		background-color: rgba(255, 255, 255, 0.3);
		&:before {
			color: white;
			content: "32x32px";
		}
	}
}
//
